%br
%h3
  Editando
  %small.text-muted= @bus_operator.official_name


= render 'form', bus_operator: @bus_operator

= link_to 'Ver ' + @bus_operator.official_name, @bus_operator
= link_to 'Listado', bus_operators_path
